@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
    font-family: 'Times New Roman', Times, serif !important;
  }
  
  * {
    font-family: 'Times New Roman', Times, serif !important;
  }
}

@theme {
  --font-sans: 'Times New Roman', Times, serif;
  --font-serif: 'Times New Roman', Times, serif;
}

